body {
    text-align: center;
    background-color: #000000;
}

canvas {
    width: 1024px;
    height: 1024px;
    margin: auto;
    padding: 0;
    border: 1px solid #222222;
    background-color: black;
    cursor: none;
}
