body {
	background-color: #000000;
}

#container {
	padding: 25px;
	width: 100%;
	height: 100%;
}

pre {
	font-size: 15px;
}

canvas {
	width: calc(100% - 50px);
	aspect-ratio: 1 / 1;
	position: relative;
	margin: auto;
	padding: 0;
	border: 1px solid #222222;
	background-color: black;
	/*cursor: none;*/
}
